ETHEREUM_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/replace-with-api-key
ETHEREUM_CHAIN_ID=1

RPC_REQUESTS_PER_SECOND=5
RPC_MAX_CONCURRENCY=2
RPC_TIMEOUT_SECONDS=30
RPC_MAX_RETRIES=5

# Local infrastructure

POSTGRES_DB=chainpulse
POSTGRES_USER=chainpulse
POSTGRES_PASSWORD=replace-with-local-password
POSTGRES_PORT=5432

RABBITMQ_DEFAULT_USER=chainpulse
RABBITMQ_DEFAULT_PASS=replace-with-local-password
RABBITMQ_DEFAULT_VHOST=chainpulse
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
